{% extends "core/index.html" %}

{% block titulo %}<title>Iniciar sesión | Hospital</title>{% endblock %}

{% block estilos %}
{{ block.super }}
<style>
    .form-card input:not([type="checkbox"]):not([type="radio"]):not([type="hidden"]) {
        border-radius: 15px;
        border: 1px solid #cbd5e1;
        padding: 11px 15px;
        width: 100%;
        display: block;
    }

    .form-card input:focus {
        border-color: #0f2747;
        box-shadow: 0 0 0 0.2rem rgba(15, 39, 71, 0.15);
        outline: none;
    }
</style>
{% endblock %}

{% block contenido %}

<main class="form-container">

<div class="form-card">

    <div class="form-header">

        <div class="form-icon">
            🔐
        </div>

        <h1>
            Iniciar sesión
        </h1>

        <p>
            Ingresá tus credenciales para acceder al sistema.
        </p>

    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <!-- USUARIO -->
        <div class="mb-3">

            <label
                for="{{ form.username.id_for_label }}"
                class="form-label"
            >
                Usuario
            </label>

            {{ form.username }}

            {% if form.username.errors %}
                <div class="text-danger mt-1">
                    {{ form.username.errors }}
                </div>
            {% endif %}

        </div>


        <!-- CONTRASEÑA -->
        <div class="mb-4">

            <label
                for="{{ form.password.id_for_label }}"
                class="form-label"
            >
                Contraseña
            </label>

            {{ form.password }}

            {% if form.password.errors %}
                <div class="text-danger mt-1">
                    {{ form.password.errors }}
                </div>
            {% endif %}

        </div>

        <input type="hidden" name="next" value="{{ next }}">

        <!-- BOTONES -->
        <div class="form-buttons">

            <a
                href="{% url 'registro' %}"
                class="btn btn-cancelar"
            >
                Crear cuenta
            </a>

            <button
                type="submit"
                class="btn btn-guardar"
            >
                Ingresar
            </button>

        </div>

    </form>

</div>

</main>

{% endblock %}
